<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Application Configs </title>
  <style type="text/css">
    body {
      padding: 4% 10% 0% 10%;
      text-align: center;
      background-color: #ecf0f1;
      color: #22313f;
      font-family: "Helvetica", sans-serif;
      font-size: 1.2em;
    }
    a {
      text-decoration:  none;
    }
    input {
      font-size: 1.2em;
      background-color: #ecf0f1;
      border: 0;
      border-bottom: 2px solid #22313f;
    }
    .button {
      font-size: 1.2em;
      background-color: #22313f;
      color: white;
      border-radius: 5px;
      margin: 5px;
      padding: 1%;
      border: none;
      cursor: pointer;
    }
    .button:hover {
      opacity: 0.5;
    }
    td, td {
      text-align: left;
      padding: 10px;
    }
    input:focus {
      outline: none;
    }
    .message {
      color: #6C7A89;
    }
    #new-key {
      text-transform: uppercase;
    }
    .pointer {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Application Configs</h1>
  <% if (locals.config) { %>
  <p>Double click a key to delete it.</p>
  <form method="POST">
    <table align="center">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="config-list">
        <% Object.keys(config).forEach(function(item){ %>
          <tr>
            <td class="pointer" ondblclick="remove(this)"><%= item %></td>
            <td><input name="<%= item %>" value="<%= config[item] %>" type="text"/></td>
          </tr>
        <% }) %>
        <tr id="new-config-var">
          <td><input placeholder="new_key" type="text" id="new-key"></td>
          <td><input placeholder="new value" type="text" id="new-val"></td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="button" onclick="addNewEntry()">Add</button>
      <input class="button submit" type="submit" value="Save">
    </div>
  </form>
  <% } %>
  <% if (locals.message) { %>
  <h2 class="message"><%= message %></h2>
  <h4>Please use <strong>nodemon</strong> or restart server to continue...</h4>
  <a href="/config">[ continue editing ]</a>
  <% } %>
</body>
<script type="text/javascript">

  function addNewEntry() {
    var newKey = document.getElementById('new-key');
    var newVal = document.getElementById('new-val');
    var newRow = document.createElement("tr");
    var newConfigVar = document.getElementById('new-config-var');
    var configList = document.getElementById('config-list');

    if (newKey.value.length > 0) {
      newRow.innerHTML = '<td class="pointer" ondblclick="remove(this.parentNode)">' +
        newKey.value.toUpperCase().replace(/ /g,"_") +
        '</td><td><input name="' +
        newKey.value.toUpperCase().replace(/ /g,"_") +
        '" value="' +
        newVal.value +
        '" type="text"></td>';

      configList.insertBefore(newRow, configList.childNodes[configList.childNodes.length - 2])
      newKey.value = "";
      newVal.value = "";
    }
  }

  function remove(domObj) {
    var child = domObj.parentNode;
    var parent = domObj.parentNode.parentNode;

    parent.removeChild(child);
  }

</script>
</html>