<style type="text/css">

.chalkboard {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: inline-block;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.white { background-color: white; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

</style>

<p>collaborate</p>

<canvas class="chalkboard"></canvas>

<div class="colors">
  <div class="color white"></div>
  <div class="color red"></div>
  <div class="color green"></div>
  <div class="color blue"></div>
  <div class="color yellow"></div>
</div>

<input type="number" min="1" max="20" ng-model="chalk.lineWidth">