<style type="text/css">

.chalkboard {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.white { background-color: white; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.view-container {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#audio-player {
  width: 100%;
}

.snapshot-img {
  width: 100%;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.snapshot-container {
  overflow-y: scroll;
}

</style>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#!/home">Go Back</a>
  </li>
</ul>

<div class="view-container">
  <h4>Chalkboard <span class="badge badge-primary">Live</span></h4>
  <hr>

  <div class="row mb-3">
    <div class="col-md-12">
      <canvas class="chalkboard"></canvas>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button ng-click="setTool('white')" class="btn btn-dark"><i class="fa fa-circle"></i></button>
        <button ng-click="setTool('blue')" class="btn btn-outline-primary"><i class="fa fa-circle"></i></button>
        <button ng-click="setTool('green')" class="btn btn-outline-success"><i class="fa fa-circle"></i></button>
        <button ng-click="setTool('red')" class="btn btn-outline-danger"><i class="fa fa-circle"></i></button>
        <button ng-click="setTool('yellow')" class="btn btn-outline-warning"><i class="fa fa-circle"></i></button>
        <button ng-click="setTool('eraser')" class="btn btn-dark"><i class="fa fa-eraser"></i></button>
        <button ng-click="clearCanvas()" class="btn btn-dark"><i class="fa fa-refresh"></i></button>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>